if ! has nix_direnv_version || ! nix_direnv_version 1.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.3.0/direnvrc" "sha256-cVSyO0/m0hbePv+plzua014InR0lNXa+0LTn0yEW0xc="
fi

layout_poetry() {
  local VENV=$(cd ../twisto/ && poetry env list --full-path | cut -d' ' -f1)
  
  if [[ -z $VENV || ! -d $VENV/bin ]]; then
    log_error 'No poetry virtual environment found. Use `poetry install` to create one first.'
    exit 2
  fi

  export VIRTUAL_ENV=$VENV
  export POETRY_ACTIVE=1
  PATH_add "$VENV/bin"
}

use flake
watch_file devshell.toml

layout poetry